<div class="row">
    <div class="col-4"></div>
    <div class="col-4 mt-3">
        <h1 style="color:chartreuse">Log In<h4>{{aim}}</h4>
        </h1>

        <form (ngSubmit)="login()">
            <input type="text" id="ac_no" class="form-control" name="accno" [(ngModel)]="accno"
                placeholder="Enter Account Number">
            <input type="password" id="uname" [(ngModel)]="pwd" name="pwd" class="form-control"
                placeholder="Enter Password">
            <input type="submit" value="Log In" class="btn btn-primary mt-2"><br>
            <a class="textlink" routerLink="register">Sign Up</a>
        </form>
    </div>
    <div class="col-4"></div>
</div>