<body>
    <h1>Transaction History</h1>
    <table>

        <tr>
            <th>Amount</th>&nbsp;&nbsp;&nbsp;&nbsp;
            <th>Type</th>
        </tr>

        <tr *ngFor="let trans of transaction">
            <th>{{trans.amount}}</th>&nbsp;&nbsp;&nbsp;&nbsp;
            <th>{{trans.type}}</th>
        </tr>

        <tr>
            <th>1000</th>&nbsp;&nbsp;&nbsp;&nbsp;
            <th>Debit</th>
        </tr>

    </table>
    <br>
    <br>
    <a routerLink="/dashboard">Home</a>
</body>
