<div class="row">
    <div class="col-4"></div>
    <div class="col-4 mt-3">
        <h1 style="color:chartreuse">Sign Up</h1>

        <form (ngSubmit)="register()">
            <input type="text" id="uname" class="form-control" name="uname" [(ngModel)]="uname" placeholder="Enter User Name">
            <input type="text" id="ac_no" class="form-control" name="acno" [(ngModel)]="accno" placeholder="Enter Account Number">
            <input type="password" id="pwdtext" [(ngModel)]="pwd" name="pswd" class="form-control" placeholder="Enter Password">
            <input type="submit" class="btn btn-primary mt-2" value="register">Submit<br>
        </form>

    </div>
    <div class="col-4"></div>
</div>